<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar.html') %>
    <button class="btn " onclick="location.href ='/users/add'">Add</button>
    <div class="container mx-2">
      <h4>Users</h4>
      <div>users</div>
      <% for (var i =0; i < users.length; i++){ %>
      <div><%= users[i]._id %></div>
      <div><%= users[i].user_name %></div>
      <div><%= users[i].age %></div>
      <% } %>
      <div>users</div>
    </div>
  </body>
</html>
